*{
  box-sizing: border-box;
  font-size:10px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  margin:auto;
  font-family: Roboto;
  font-size: 10px;
 
  
}


.container{
  display:grid;
  text-align:center;
  grid-template-columns:1fr;
  grid-template-rows:3 auto;
}

.todosGrid{
  width: 80vw;
  margin:0 auto;
  align-self: center;
}

.titulo{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #54A39D;
  color:white;
  
  /*
  font-size: 2rem;
  letter-spacing: 0.5rem;
  */


}


input[type=checkbox] {
  transform: scale(1.8);
}

.input{
  width: 100%;
  height: 4rem;
  justify-self: center;
  
  
  
  /*background:yellow;
  display:grid;
  grid-template-columns:7fr 1fr;
  */
  
  
}

.inputWrapper{
  
  display: grid;
  grid-template-columns: 100%;
  font-size: 28px;
  padding:1rem 0;
  
 
}








.inputWrapper input {
  font-size: 20px;
  border:1px solid rgb(128, 69, 115);

  
  
  
 /* font-size: 1rem;*/

}

#addTodo {
  
  align-self: left;
  
}

#addTodo button{
  
  color:white;
  background-color: #54A39D;
  font-size: 28px;
  
}





.todosContainer{

  display: grid;
  grid-template-columns: 15% auto 15%;
  text-align: left;
  /*padding:0px 20px;
  grid-template-columns: 1fr 6fr 1fr;*/
/*grid-auto-rows:auto;*/
  /*text-align:left;*/
  border:1px dotted grey;
  background-origin: shadow 10ex; 
}


.todosContainer:hover{
  background-color: yellow;
}

#doneChecker{
  justify-self: center;
  align-self: center;
}

.deleteBtn{
  font-size:10px;
}

.note p{
  
}

.show{
 
  justify-self: center;
  align-self: center;
  width: 60px;
  height: 40px;
  border:1px solid grey;
}

.hide{
  display:none;
}

.checked{
  opacity: 0.5;
  
}

.done{
  text-decoration: line-through;
}

/* crear dos clases y aplicar en el hover la que muestra el boton, dejar por defecto la clase que esconde el boton*/








